.table-bordered {
    border: 1px solid #ddd !important;
}
.rdt_Table {
    
}
.rdt_TableRow {
    font-size: 14px !important;
    min-height: 40px !important;
}
.rdt_TableCol {
    min-width: 140px !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
}
.rdt_TableCol_Sortable {
    
}
.rdt_TableCell {
    min-width: 140px !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
}
.rdt_TableHeader {
}
.rdt_TableFooter {
    
}
.rdt_TableHead {
    font-size: 14px !important;
}
.rdt_TableHeadRow {
    
}
.rdt_TableBody {
    
}
.rdt_ExpanderRow {
    
}