.content_wrapper{ display: flex;align-items: center;max-width: 500px;flex-wrap: wrap;flex-direction: column; }
.content_wrapper-icon{ font-size: 50px; /* margin-right: 15px; */ line-height: 0; color: #ffba00; margin-bottom: 15px; }
.content_wrapper-text h5{ font-weight: 500;text-align: center; }
.content_wrapper-text small{ margin-top: 5px;display: block;color: #474747;font-weight: 400;font-size: 16px; }
.content_buttonWrapper{ text-align: center;width: 100%;margin-top: 0px;border-top: 1px solid #ddd;margin-bottom: 0px;padding: 10px;padding-right: 5px; }
.content_wrapper.success .content_wrapper-icon{ color: #08b325; }
.content_wrapper.error .content_wrapper-icon{ color: #eb0505; }
.MuiDialog-root{ z-index: 9999 !important; }
.MuiDialog-paper { overflow-y: visible !important; }
.MuiDialog-container { overflow-y: scroll !important; }
.MuiDialog-paperScrollPaper { max-height: none !important; }
.MuiDialog-paperWidthSm{ min-width: 300px; max-width: 680px !important;}
.MuiDialogActions-root{ padding: 0 !important; }